:root {
  --brand-colour: #305e63;
  --main-text-colour: #5f8b7f;
  --brand-background: #dfeeea;
  --header-font-family: "Overpass", sans-serif;
}

body {
  margin: 100px 0;
}

h1 {
  font-family: var(--header-font-family);
  font-weight: bold;
  font-size: 68px;
  color: var(--brand-colour);
}

h2,
h3 {
  font-family: var(--header-font-family);
  color: var(--brand-colour);
  font-size: 28px;
}

h2 {
  padding-left: 25px;
}

h3 {
  padding-left: 30px;
}

p {
  font-family: "Overpass", sans-serif;
  font-size: 32px;
  line-height: 1;
  color: var(--main-text-colour);
  margin-top: 50px;
}

.home-page-image {
  width: 85%;
  display: block;
  margin: 10px auto;
}
.page-header {
  background-color: var(--brand-background);
  padding: 30px 0 10px 30px;
}
