:root {
  --brand-colour: #305e63;
  --main-text-colour: #5f8b7f;
  --brand-background: #dfeeea;
  --header-font-family: "Overpass", sans-serif;
}

body {
  margin: 57px 0;
}

h1 {
  font-family: var(--header-font-family);
  font-weight: bold;
  font-size: 68px;
  color: var(--brand-colour);
}

h2,
h3 {
  font-family: var(--header-font-family);
  color: var(--brand-colour);
}

h2 {
  font-size: 28px;
  padding-left: 25px;
}

h3 {
  font-size: 24px;
  padding: 0 40px;
}

p {
  font-family: "Overpass", sans-serif;
  font-size: 32px;
  line-height: 1;
  color: var(--main-text-colour);
}

.homepage-image {
  display: block;
  margin: 0 auto;
}

.homepage-image-caption {
  text-align: right;
  font-size: 14px;
  opacity: 70%;
  margin: 15px 0;
}

.intro-text {
  background-color: var(--brand-background);
  text-align: center;
  padding-right: 25px;
}

.brand-button {
  padding: 12px 20px;
  color: var(--brand-background);
  background-color: var(--brand-colour);
}

.brand-button:hover {
  color: var(--brand-colour);
  background-color: var(--brand-background);
  border: none;
}

.projects-button {
  padding: 12px 20px;
  color: var(--brand-colour);
  background-color: var(--brand-background);
}

.projects-button:hover {
  color: var(--brand-background);
  background-color: var(--brand-colour);
}
.page-header {
  background-color: var(--brand-background);
  padding: 30px 0 10px 30px;
}

.footer {
  color: #5a687d;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  opacity: 80%;
  padding: 6px 2px 0 0;
}

.footer-links {
  color: #5a687d;
  font-size: 18px;
  opacity: 80%;
  padding: 0 5px;
}

.footer-links:hover {
  color: #5a687d;
}

.about-text {
  font-size: 16px;
  max-width: 600px;
  text-align: center;
  padding: 50px 0;
  line-height: 1.5;
}

.about-image {
  max-height: 300px;
}

.skills-section {
  background-color: var(--brand-background);
}

.section-header {
  font-size: 34pt;
}

.skills-icons {
  font-size: 14px;
  line-height: 2;
  min-width: 120px;
}

.icon-images {
  max-width: 50px;
}

.fab,
.fas {
  font-size: 14pt;
}

.project-image {
  max-width: 75%;
}

.contact-url {
  font-size: 13pt;
  text-decoration: none;
}

.contact-url:hover {
  text-decoration: underline;
}

@media (max-width: 415px) {
  h1 {
    font-size: 34px;
  }

  h2,
  h3 {
    font-size: 16px;
  }

  h2 {
    padding-left: 10px;
  }

  .homepage-image-caption {
    font-size: 10pt;
    margin-left: 130px;
  }

  .contact-button,
  .projects-button {
    font-size: 10pt;
  }

  .footer,
  .footer-links {
    font-size: 12pt;
    margin-top: 50px;
  }
}
